/* base-rule */


* {
    margin: 0;
    padding: 0%;
    box-sizing: border-box;
    font-family: "Urbanist", sans-serif;
}


html {
    font-size: 62.5%;
}

p,
li,
a {
    font-size: 1.8rem;
    letter-spacing: 0.1rem;
    font-weight: 400px;
    color: var(--para-color);
    line-height: 1.5;
}

a {
    text-decoration: none;

}




/* theme */
/* 
@font-face {
    font-family: My Font;
    src: url(/font.otf); */


/* 
font-family-names---



font-family: "Jost", sans-serif;
font-family: "Urbanist", sans-serif;
font-family: "Poppins", sans-serif;
font-family: "Montserrat", sans-serif;
font-family: "Roboto", sans-serif;
 */






:root {
    --main-color: #7232c76e;
    --nav-hover-color: #f17b1ac0;
    --btn-color: #ff7c02e1;
    --supporting-color: #ebf3fe;
    --font-color: #424242;
    --bg-color: #fff;
    --heading-color: #000a19a6;
    --para-color: #612c11;
    --Poppins: "Urbanist", sans-serif;
    --subheading-color: #ffc526d0;
    --hero-heading-color: #def86ab6;
    --white-color: #ffffffce;



}

/* .grid{
    display: grid;
} */




/* layout */





.container {
    max-width: 1400px;
    margin: 0% auto;
    padding: 9.6rem 2.4rem;
}

.section-navbar {
    width: 100%;
    border: 1px solid rgba(128, 128, 128, 0.2);
}

.section-navbar .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.8rem 0;
}

.section-navbar .container ul {
    display: flex;
    text-transform: uppercase;
    list-style-type: none;
    gap: 3.2rem;
    /* font-size: 1.4rem; */
    /* font-family: "Urbanist", sans-serif; */
    /* font-family: "Poppins", sans-serif; */
}

.section-navbar .container ul li a {
    color: var(--heading-color);
    display: inline-block;
    font-weight: 600;
    font-size: 1.6rem;
    position: relative;

}

.nav-link a::after {
    content: "";
    position: absolute;
    bottom: -0.3rem;
    left: 0%;
    width: 0%;
    border-bottom: 0.2rem solid #f9907188;
    transition: all 0.3s linear;

}

.nav-link a:hover::after {
    width: 100%;
}






/* modules/ reuseable*/



.btn {
    display: inline-block;
    padding: 1.2rem 3.2rem;
    background-color: #F99071;
    color: white;
    border-radius: 0.6rem;
    margin: 2rem 0 2rem 0;
    /* box-shadow: var(--btn-box-shadow); */
    transition: all .4s ease-in-out;
    border: 1px solid #f17b1a85;
    /* box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px; */

    /* box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px; */
    /* box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px; */
    /* background-color: var(--btn-color); */
    /* background-color: var(--hero-heading-color); */


}

.btn:hover {
    color: #424242;
    background-color: #ffffff85;
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 3.5px, rgba(0, 0, 0, 0.23) 0px 1px 4px;
}


/* states */


/* hero section */




/* theme */
.two-grid-cols {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 7.4rem;
}

.three-grid-cols {
    display: grid;
    align-items: center;
    grid-template-columns: repeat(3, 1fr);
    gap: 5rem;

}

.four-grid-cols {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 5rem;

}



.hero-img img {
    width: 100%;
    height: auto;
    /* transform: scaleX(1) ; */
}

.hero-section-background {
    background: linear-gradient(to right bottom, #f6150031, #f459002d, #f17b1a27, #ee993825, #ecb4592a);

    background: linear-gradient(to right bottom, #f6150031, #f459002d, #f17b1a27, #ee993825, #ecb4592a);

}

.hero-sub-heading {
    text-transform: capitalize;
    letter-spacing: .1rem;
    /* color: white; */
    font-weight: 600;
    margin-bottom: 5px;
}

.main-heading {
    /* color: white; */
    font-size: 5.9rem;
    font-weight: 900;
    font-family: "Roboto", sans-serif;
    letter-spacing: .2rem;
    line-height: 1.1;
}

.hero-para {
    margin: 2rem 0 4rem 0;
    /* color: var(--white-color); */
    text-align: justify;

}

/* shape divider */
.hero-section {
    position: relative
}

.custom-shape-divider-bottom-1707927113 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    line-height: 0;
    transform: rotate(180deg);
    overflow: hidden;
}

.custom-shape-divider-bottom-1707927113 svg {
    position: relative;
    display: block;
    width: calc(101% + 1.3px);
    height: 93px;
}

.custom-shape-divider-bottom-1707927113 .shape-fill {
    fill: #FFFFFF;
}


/* start about section */


.common-heading {
    font-size: 3.2rem;
    font-weight: 900;
    text-transform: capitalize;
}

.common-title {
    font-size: 1.9rem;
    font-weight: bold;
    text-transform: capitalize;
    margin: 2.4rem 0 1.2rem 0;

    /* display: inline-block; */
}


.about-sub-heading {
    max-width: 625px;
    margin-top: 5px;
}


.about-section .icon img {
    padding: 2.4rem;
    background: linear-gradient(to left top, #f6150015, #f4590015, #f17b1a15, #ee993815, #ecb45915);
    border-radius: 50%;
    width: 15rem;
    height: 15rem;

}

.about-section .icon img:hover {
    transition: all .5s linear;
    transform: rotate(360deg);
    /* background-image: linear-gradient(to right top, #f8e9d7, #f2efdb, #edf6e3, #e8fbee, #e7fff9); */
    /* background-image: linear-gradient(to right top, #d7ebf8, #d4edf9, #d1eff9, #cef0f9, #cbf2f8); */
    /* background-image: linear-gradient(to right top, #d7ebf8, #daeffa, #def4fc, #e2f8fd, #e7fcff); */
    /* background-image: linear-gradient(to right top, #5a3e9b, #594ba7, #5858b2, #5764bd, #5770c7); */
    /* background-image: linear-gradient(to right top, #613cb5, #6254bf, #6669c6, #6f7cca, #7d8fcd); */
    background: linear-gradient(to right bottom, #f6150046, #f4590046, #f17b1a46, #ee993846, #ecb45946);
    cursor: pointer;

}

.about-section .about-div {
    text-align: center;
}


/* end about section */

/* start course section */

.course-div {
    padding: 2.4rem;
}

.course-div:hover {
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 50px;
    transition: all .4s linear;
    border-radius: 1.2rem;

}

.second-child img {
    width: 100%;
    height: 100%;
}

/* icon-part */
.fa-python {
    padding: 2.4rem;

    background: linear-gradient(to right bottom, #00f69015, #00f43d15, #1af19f15, #6bee3815, #59ece015);
    font-size: 2.6rem;
    border-radius: 50%;
    color: #71d2f9b4;
}

.fa-solid {
    padding: 2.4rem;

    background: linear-gradient(to right bottom, #f6150015, #f4590015, #f17b1a15, #ee993815, #ecb45915);
    font-size: 2.6rem;
    border-radius: 50%;
    color: #f99171b4;
}

.fa-css3 {
    padding: 2.4rem;

    background: linear-gradient(to right bottom, #b000f615, #bb00f415, #cd1af115, #c338ee15, #e759ec15);
    font-size: 2.6rem;
    border-radius: 50%;
    color: #8571f9b4;
}

.fa-js {
    padding: 2.4rem;

    background: linear-gradient(to right bottom, #f6002915, #f4000015, #f11a9715, #ee389315, #ec597e15);
    font-size: 2.6rem;
    border-radius: 50%;
    color: #f97183b4;
}

/* end course section */